epidemiology_exchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (x64) (http://www.altova.com) by H Rodda (None) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:epi="https://github.com/Co-Epi" targetNamespace="https://github.com/Co-Epi" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="Payload">
		<xs:annotation>
			<xs:documentation>The root element for all communication payloads</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="SystemConfiguration" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information regarding system configuration, typically pushed from cloud to client.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="TransmissibleDisease" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="DiseaseName" type="xs:string" use="required"/>
									<xs:attribute name="MinimumIncubationPeriod" type="xs:dayTimeDuration">
										<xs:annotation>
											<xs:documentation>The minimum number of days between infectious exposure and onset of clinical symptoms</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="MaximumIncubationPeriod" type="xs:dayTimeDuration">
										<xs:annotation>
											<xs:documentation>The sensible maximum (eg. 2 standard deviation) number days between infectious exposure and onset of clinical symptoms</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="HealthRegion" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Configuration to allow display and linking to trusted health information for a specific geographic region</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="RegionCountry" use="required">
										<xs:annotation>
											<xs:documentation>ISO Country code for the configured region</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="RegionState" use="required">
										<xs:annotation>
											<xs:documentation>Code for the state being configured</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="PublicPhoneNumber" type="xs:string">
										<xs:annotation>
											<xs:documentation>Phone number to be called by members of the public who have enquiries around COVID-19</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="PublicWebsiteURL" type="xs:anyURI">
										<xs:annotation>
											<xs:documentation>Link to the main entry point for the public facing information by the local health department</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="PublicWebsiteName" type="xs:string">
										<xs:annotation>
											<xs:documentation>Name of the main entry point website</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="RetainDataPeriod" type="xs:positiveInteger" default="14">
							<xs:annotation>
								<xs:documentation>Number of days to retain sensitive data before automated purging</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="MinimumGeoHashResolution" default="5">
							<xs:annotation>
								<xs:documentation>The minimum allowed geohash resolution fer subscriptions and exposures</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CoEpiURL" type="xs:anyURI">
							<xs:annotation>
								<xs:documentation>Link to the master homepage for CoEpi</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="WorldHealthOrganisationURL">
							<xs:annotation>
								<xs:documentation>Link to the main entry point for the public facing information by the WHO</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExposureCheck" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A request to retrieve new exposure alerts which have been uploaded since the last check; encompassing  a particular set of location combinations</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PartialContactEventUUIDs" type="xs:base64Binary" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A subset of the Contact Event UUIDs that are randomly assigned to one BLE contact event between two compatiple client phones.  Half or Quarter length (64 or 32 bit) may be supported.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="GeoHash" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A geohash area to limit the check - only BLE contacts that occurred in a listed GeoHash will be returned.  Client's decision how precise to request - from minimum precision up to precision 5</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="LastCheckTimeStamp" type="xs:dateTimeStamp" use="required">
							<xs:annotation>
								<xs:documentation>The date &amp; time of the last successful check - to allow the server to only retrieve new exposure records since that time, and prevent clients from needing to re-process data</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="RequestNumber" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="PossibleExposure" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Response">
								<xs:annotation>
									<xs:documentation>Response from server regarding a subscription request</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Success">
											<xs:annotation>
												<xs:documentation>The request to subscribe to alerts was successful.  Future calls will retrieve relevant Exposure Records automatically.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Suppress">
											<xs:annotation>
												<xs:documentation>The incidence of disease in a community is so low, that the system is being temporarily disabled - to save client and server resources</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Until" type="xs:dateTime" use="required">
													<xs:annotation>
														<xs:documentation>Attempt to resume submitting data on this date.  If a successful subscription is then sent, client data capture should recommence.
			
			If a new epidemic commences, a push notification can be sent to wake dormant client devices.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Failure">
											<xs:annotation>
												<xs:documentation>The subscription request was denied or did not succeed.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Reason" type="xs:string">
													<xs:annotation>
														<xs:documentation>Common reasons may include: geographical distribution not consistent with one person's movement.  Excessive subscriptions requested.  Time period too broad or too far in the past.  GeoHash resolution not respected</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="MatchingContactEventUUIDs" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>All Full length Contact Event UUIDs that are matched the conditions in the Exposure Check - if any qualified</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CaseRecord" type="epi:CaseRecordType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A case record representing a person's illness</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ExposureRecord" type="epi:ExposureRecordType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A record of potential exposure with another user</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ConfirmedExposure" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A notification of confirmed overlapping exposure and proximity information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="OverlapRecord">
								<xs:annotation>
									<xs:documentation>A period of time in which two users were in proximity to each other, based on bluetooth data</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="epi:ClinicalSeverity" minOccurs="0"/>
										<xs:element name="MatchingProximityData" minOccurs="0">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element ref="epi:BluetoothProximity"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="CaseClientID" use="required"/>
									<xs:attribute name="CaseArrive"/>
									<xs:attribute name="CaseDepart"/>
									<xs:attribute name="UserArrive"/>
									<xs:attribute name="UserDepart"/>
									<xs:attribute name="TimeInProximity" type="xs:dayTimeDuration" use="required">
										<xs:annotation>
											<xs:documentation>Amount of time in minutes that the two users are estimated to have been in proximity to each other</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="TimeInCloseProximity">
										<xs:annotation>
											<xs:documentation>Estimated time the two people were in close proimity (suggested to be less than 5 metres)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="RequestCaseRecord" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>If the client wants the case records sent, set to true</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="ScreeningRequest" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A request for the user to undergo diagnostic testing</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ScreeningResult" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A result for previously requested diagnostic testing</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
			<xs:attribute name="ClientID" type="xs:base64Binary" use="required">
				<xs:annotation>
					<xs:documentation>The globally unique but otherwise anonymous identifier for the client</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SchemaVersion" type="xs:double" default="0.1"/>
			<xs:attribute name="MinimumSupportedVersion" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PotentialExposure">
		<xs:annotation>
			<xs:documentation>A notification of potentially relevant exposure profiles</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BluetoothProximity">
		<xs:annotation>
			<xs:documentation>A data point representing the proximity of two bluetooth devices</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="SignalStrength"/>
			<xs:attribute name="BluetoothUUIDHash" use="required"/>
			<xs:attribute name="ContactTime" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClinicalSeverity">
		<xs:annotation>
			<xs:documentation>An estimation of case severity provided by the user</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="MinimalSymptoms"/>
				<xs:element name="MildSymptoms"/>
				<xs:element name="ModerateSymptoms"/>
				<xs:element name="SevereSymptoms"/>
			</xs:choice>
			<xs:attribute name="IsHospitalised" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ApproximateLocationAndTimeType">
		<xs:annotation>
			<xs:documentation>A data point representing an appoximate location and a time band, thus providing a physical presence window</xs:documentation>
		</xs:annotation>
		<xs:attribute name="StartTimeBand" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>The date/time that the user was in the geoHash region - by default, a 1 hour band if endTimeBand is not provided</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GeoHash" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>A geographical region denoted by a geohash value.  Recommended resolution is 5 character (approx. 5km box)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EndTimeBand" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:element name="ApproximateLocationAndTime" type="epi:ApproximateLocationAndTimeType"/>
	<xs:complexType name="ProximityRecordType">
		<xs:sequence>
			<xs:element ref="epi:ApproximateLocationAndTime"/>
			<xs:element ref="epi:BluetoothProximity"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExposureRecordType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="ProximityRecord" type="epi:ProximityRecordType">
				<xs:annotation>
					<xs:documentation>A record representing a time band, appoximate location, and a set of bluetooth identiifers seen in that period</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="OtherClientID" use="required">
			<xs:annotation>
				<xs:documentation>The other user's anonymous client ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CaseRecordType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="HealthQuiz">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClinicalSymptoms">
							<xs:annotation>
								<xs:documentation>A list of active symptoms as reported by the user</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Fever" minOccurs="0">
										<xs:annotation>
											<xs:documentation>measured temperature over 38.0 deg C / 100.4 deg F</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Cough" minOccurs="0">
										<xs:complexType>
											<xs:choice>
												<xs:element name="Infrequent">
													<xs:annotation>
														<xs:documentation>less than 10 times a day</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Regular">
													<xs:annotation>
														<xs:documentation>up to 5 times an hour</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Intractable">
													<xs:annotation>
														<xs:documentation>more than 5 times an hour</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:choice>
										</xs:complexType>
									</xs:element>
									<xs:element name="ShortnessOfBreath" minOccurs="0"/>
									<xs:element name="NasalCongestion" minOccurs="0"/>
									<xs:element name="SoreThroat" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ClinicalSigns" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A list of clinical observations as captured by integrated health devices</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Temperature" minOccurs="0">
										<xs:complexType>
											<xs:attribute name="ObservationTime" type="xs:dateTime" use="required"/>
											<xs:attribute name="MeasuredTemperature" type="xs:double" use="required"/>
											<xs:attribute name="IsDegCelcius" type="xs:boolean" use="required">
												<xs:annotation>
													<xs:documentation>true = celcius; false = farenheit</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="OxygenSaturation" minOccurs="0">
										<xs:complexType>
											<xs:attribute name="spO2" type="xs:double"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="epi:ClinicalSeverity" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="QuizTime" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>The date/time the quiz was completed</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CaseID" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>An identifier given to the case by the client.  likely to be an integer index of case records</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SymptomOnsetTime" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>reported date/time of first symptom onset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LikelyExposureTime">
			<xs:annotation>
				<xs:documentation>calculated date/time of infectious exposure, based on most likely transmission chain, if determined</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
